## Importing libraries

In [1]:
import numpy as np # for linear algebra , math equations
import math # for math
import pandas as pd # for dataframes
from sklearn.feature_extraction.text import TfidfVectorizer # to vectorize the tf_idf values
import os # read files from folder
import natsort as nt #to sort files in natural number order
from nltk.tokenize import word_tokenize # to make a list of strings
from nltk.corpus import stopwords # to remove unwanted words (very common)
import warnings
warnings.filterwarnings("ignore")

# PART 1

### a) Read 10 files

In [2]:
path = 'C:/Users/Eyad/Desktop/AI course,Data Science/projects/IR CS/documents/'
os.chdir(path)

In [3]:
files = nt.natsorted(os.listdir())
files

['1.txt',
 '2.txt',
 '3.txt',
 '4.txt',
 '5.txt',
 '6.txt',
 '7.txt',
 '8.txt',
 '9.txt',
 '10.txt']

In [4]:
dicts = {}
keys = range(1,len(files)+1)
values = []
for file in files:
    with open(file , 'r', encoding='utf-8') as f:
        values.append(f.read())
for i in keys:
        dicts[i] = values[i-1]
print(dicts)

{1: 'antony brutus caeser cleopatra mercy worser', 2: 'antony brutus caeser calpurnia ', 3: 'mercy worser', 4: 'brutus caeser mercy worser', 5: 'caeser mercy worser', 6: 'antony caeser mercy ', 7: 'angels fools fear in rush to tread where', 8: 'angels fools fear in rush to tread where', 9: 'angels fools in rush to tread where', 10: 'fools fear in rush to tread where'}

In [5]:
def append_new_doc(doc,filenumber): # to be more dynamic
    with open(doc , 'r', encoding='utf-8') as f:
        dicts[filenumber] = f.read()

### b ) Tokenization

In [6]:
def tokenize_query(query): 
    query = word_tokenize(query)
    return query

In [7]:
for i in dicts:
    dicts[i] = tokenize_query(dicts[i])
    print(dicts[i])

['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser']
['antony', 'brutus', 'caeser', 'calpurnia']
['mercy', 'worser']
['brutus', 'caeser', 'mercy', 'worser']
['caeser', 'mercy', 'worser']
['antony', 'caeser', 'mercy']
['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']
['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']
['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where']
['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']

In [8]:
#Test
q = 'Hello im eyad'
q = tokenize_query(q)
q

['Hello', 'im', 'eyad']

## c) Apply stop words (except: in , to,where)

In [9]:
stopwords_edited = stopwords.words('english')
stopwords_edited.remove('in')
stopwords_edited.remove('to')
stopwords_edited.remove('where')

In [10]:
def remove_stop_words(query):
    query = [word for word in query if not word in stopwords_edited]
    return query

In [11]:
for i in dicts:
    dicts[i] = remove_stop_words(dicts[i])
    print(dicts[i])

['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser']
['antony', 'brutus', 'caeser', 'calpurnia']
['mercy', 'worser']
['brutus', 'caeser', 'mercy', 'worser']
['caeser', 'mercy', 'worser']
['antony', 'caeser', 'mercy']
['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']
['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']
['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where']
['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']

In [12]:
dicts

{1: ['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser'],
 2: ['antony', 'brutus', 'caeser', 'calpurnia'],
 3: ['mercy', 'worser'],
 4: ['brutus', 'caeser', 'mercy', 'worser'],
 5: ['caeser', 'mercy', 'worser'],
 6: ['antony', 'caeser', 'mercy'],
 7: ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'],
 8: ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'],
 9: ['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where'],
 10: ['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']}

In [13]:
all_words = []
for doc in dicts:
    for term in dicts[doc]:
        all_words.append(term)
all_words = sorted(all_words)

In [14]:
#test
q = 'Where are you at the to in from from in egypt'
q = tokenize_query(q)
q = remove_stop_words(q)
q

['Where', 'to', 'in', 'in', 'egypt']

# PART 2

### a) Building positional index

In [15]:
doc_no = 1
pos_idx = {}
def positional_indexing(doc):
    global doc_no
    global pos_idx
     #looping in each word in document
    if term in pos_idx:  #check if term is in dictionary already
        pos_idx[term][0] += 1    # if term is in dictionary the frequency of it will increase by 1
        if doc_no in pos_idx[term][1]: # if it was already in the same document
            pos_idx[term][1][doc_no].append(pos)   # it will append the other position index
        else:
            pos_idx[term][1][doc_no] = [pos] # if not it will create the first position it appeared in the document
    else:

        pos_idx[term]=[]   # if term is not in the document

        pos_idx[term].append(1) # it will append number one as it appeared for first time

        pos_idx[term].append({})  # it will append a dictionary next to the list to put term positions

        pos_idx[term][1][doc_no] = [pos] #it will put the position as a value in the key of document number

     # increase document number to change keys to be next in the next loop

In [16]:
doc_no = 1
pos_idx = {}
for doc in dicts:
    for pos,term in enumerate(dicts[doc]):
        positional_indexing(doc)
    doc_no +=1
print(pos_idx)

{'antony': [3, {1: [0], 2: [0], 6: [0]}], 'brutus': [3, {1: [1], 2: [1], 4: [0]}], 'caeser': [5, {1: [2], 2: [2], 4: [1], 5: [0], 6: [1]}], 'cleopatra': [1, {1: [3]}], 'mercy': [5, {1: [4], 3: [0], 4: [2], 5: [1], 6: [2]}], 'worser': [4, {1: [5], 3: [1], 4: [3], 5: [2]}], 'calpurnia': [1, {2: [3]}], 'angels': [3, {7: [0], 8: [0], 9: [0]}], 'fools': [4, {7: [1], 8: [1], 9: [1], 10: [0]}], 'fear': [3, {7: [2], 8: [2], 10: [1]}], 'in': [4, {7: [3], 8: [3], 9: [2], 10: [2]}], 'rush': [4, {7: [4], 8: [4], 9: [3], 10: [3]}], 'to': [4, {7: [5], 8: [5], 9: [4], 10: [4]}], 'tread': [4, {7: [6], 8: [6], 9: [5], 10: [5]}], 'where': [4, {7: [7], 8: [7], 9: [6], 10: [6]}]}

### b) Allow users to write queries

In [17]:
def return_matched_docs_ix(q):
    pos_idx_list = [[] for i in range(len(pos_idx))]
    for w in q:
        try:
            for k in pos_idx[w][1].keys():

                if pos_idx_list[k-1] != []:

                    if pos_idx_list[k-1][-1] == pos_idx[w][1][k][0]-1:
                        pos_idx_list[k-1].append(pos_idx[w][1][k][0])

                else:
                        pos_idx_list[k-1].append(pos_idx[w][1][k][0])

            
            for ix , lists in enumerate(pos_idx_list):
                if len(q) == len(lists):
                    print("Matched in doc number:" , ix+1)
        except KeyError:
            print("No matched document -> invalid input")

In [18]:
# test
q = "brutus caeser calpurnia"
q = tokenize_query(q)
q = remove_stop_words(q)
print(q)
return_matched_docs_ix(q)

['brutus', 'caeser', 'calpurnia']
Matched in doc number: 2

# Part 3

### a) Term frequency

In [19]:
dict.fromkeys(all_words ,0)

{'angels': 0,
 'antony': 0,
 'brutus': 0,
 'caeser': 0,
 'calpurnia': 0,
 'cleopatra': 0,
 'fear': 0,
 'fools': 0,
 'in': 0,
 'mercy': 0,
 'rush': 0,
 'to': 0,
 'tread': 0,
 'where': 0,
 'worser': 0}

In [20]:
def get_term_freq(doc): # TF = total time word appeared in document
    words_found = dict.fromkeys(all_words , 0) #dictionary with all words frequencies are = 0
    for word in doc: # looping in each word in the document
        words_found[word] += 1 # if we found the word , we increase the value (0) to be (1)
    return words_found   # returning the new dictionary after getting all frequency

In [21]:
tf = pd.DataFrame()
for i in range(1 , len(dicts)+1):
    tf[i] =  pd.DataFrame(
                            get_term_freq(dicts[i]).values() ,
                            index = get_term_freq(dicts[i]).keys()
                         )
    
tf.columns = [f"DOC_{i}" for i in range(1,11)]
tf.style.background_gradient(cmap = "Blues")

##### Weighted term frequency

In [22]:
def get_weighted_term_freq(x): # log(tf)+1    ## to decay the difference gap between documents 
    try:
        return math.log(x)+1
    except ValueError:
        return 0

In [23]:
wtf = tf.copy()

In [24]:
for i in range(1,len(dicts)+1):
    wtf[f"DOC_{i}"] = wtf[f"DOC_{i}"].apply(get_weighted_term_freq) #apply wtf to each cell in tf matrix
wtf.astype(int).style.background_gradient(cmap = "Blues")

### b) Inverse document frequency

In [25]:
idf_df = pd.DataFrame(index = get_term_freq(dicts[1]).keys() , columns=["df" , "idf"])

In [26]:
for i in idf_df.index: ## inverse document frequency -> used to decay the times documents are important to another document
    idf_df['df'][i] = pos_idx[i][0] #frequency of each term in all documents
    idf_df['idf'][i] = np.log10( len(dicts.keys()) / float(pos_idx[i][0]) ) # inverse document formula for each word

In [27]:
# type casting just to apply the colors
idf_df["df"] = idf_df["df"].astype(int)
idf_df["idf"] = idf_df["idf"].astype(float)

In [28]:
idf_df.style.background_gradient(cmap = "Blues" , axis= 0)

### c) Term frequency - Inverse document frequency

In [29]:
tf_idf = tf.multiply(idf_df["idf"] , axis = 0) # axis = 0 to multiply rows not columns

In [30]:
tf_idf.style.background_gradient(cmap = "Blues" , axis= 0)

### Document length & Normalized tf_idf

##### Document length

In [31]:
doc_length = pd.DataFrame()

In [32]:
def get_doc_length(col):
    return np.sqrt(tf_idf[col].apply(lambda x: x**2).sum())

In [33]:
for col in tf_idf.columns:
    doc_length.loc[ 0 , col + '_length'] = get_doc_length(col)

In [34]:
doc_length = doc_length.T

In [35]:
doc_length.columns = ['']

In [36]:
doc_length.style.background_gradient(cmap = 'Blues')

##### Normalized term freq inverse doc freq

In [37]:
normalized_tfidf = pd.DataFrame()

In [38]:
def get_normalized_tf_idf(col, x):
    try:
        return x / doc_length.loc[col + '_length'].values[0] # x -> cell
    except ZeroDivisionError:
        return 0

In [39]:
for col in tf_idf.columns:
    normalized_tfidf[col] = tf_idf[col].apply(lambda x: get_normalized_tf_idf(col , x))

In [40]:
normalized_tfidf.style.background_gradient(cmap = 'Blues' , axis= 0)

### d) Cosine similarity & Ranking documents

In [41]:
docs_cos = list(dicts.values())

In [42]:
for i in range(len(docs_cos)):
    docs_cos[i] = ' '.join(docs_cos[i])

In [43]:
vectorizer = TfidfVectorizer()

In [44]:
df = vectorizer.fit_transform(docs_cos).T.toarray() #dataframe for vectorizer

In [45]:
df = pd.DataFrame(df , index= vectorizer.get_feature_names())

In [46]:
df.style.background_gradient(cmap = 'Blues' , axis = 0)

In [47]:
def get_relevant_docs(q, df): #query , dataframe(vectorizer)
    
    print("query is :", q)
    q = tokenize_query(q)
    q = ' '.join(remove_stop_words(q))
    print("query read as :", q)
    print("\n------------------\n"*3)
    
    q = [q]
    q_vec = vectorizer.transform(q).toarray().reshape(df.shape[0])
    sim = {}
    for i in range(10):
        sim[i] = np.dot(df.loc[:, i].values, q_vec) / np.linalg.norm(df.loc[:, i]) * np.linalg.norm(q_vec)
    sim_sorted = sorted(sim.items(), key=lambda x: x[1], reverse=True)
    
    print('\033[1m' + "Most relevant documents:\n")
    returned_docs = []
    print("Cosine similarity: (Query , Document number) ->(Score) : \n")
    for k, v in sim_sorted: #key , value
        if v != 0.0:
            returned_docs.append(k+1)
            print(f"({' '.join(q)} , {k+1}) -> {v}")
            print(f"Document: {' '.join(dicts[k+1])}" , end='\n\n')
    print("Returned documents: " , returned_docs)
    
    return returned_docs

In [48]:
def calc_query_data(q_entered , ret_docs):
    q_entered = [word for word in q_entered.split() if word in list(tf.index)]
    q_entered = ' '.join(q_entered)
    q = pd.DataFrame(index=tf.index)
    q['tf'] = [ 1 if i in q_entered.split() else 0 for i in list(tf.index) ]
    q["wtf"] = [ get_weighted_term_freq(i) for i in q["tf"] ] 
    q["idf"] =  q["wtf"] * idf_df["idf"]
    q['tfidf'] = q['tf'] * q['idf']
    q["norm"] = [(float(q["idf"].iloc[i]) / np.sqrt(sum(q['idf'].values**2))) for i in range(len(q))]


    prod = normalized_tfidf.multiply(q['wtf'] , axis = 0).multiply(q['norm'] , axis = 0)
    prod = prod.loc[q_entered.split() , [f"DOC_{i}" for i in ret_docs]]
    prod = prod.append(prod.sum(numeric_only=True).rename("Sum"))
    for col in prod.columns:
        if 0 in prod[col].values:
            prod.drop( col , axis = 1 ,inplace = True)

    q_len = np.sqrt(sum([x**2 for x in q["idf"].loc[q_entered.split()]]))

    return [  q.loc[q_entered.split() , :] , q_len , prod]

## Search engine

In [50]:
query = input()

brutus caeser

In [51]:
get_docs = get_relevant_docs(query, df)

query is : brutus caeser
query read as : brutus caeser

------------------

------------------

------------------

Most relevant documents:

Cosine similarity: (Query , Document number) ->(Score) :

(brutus caeser , 4) -> 0.730875895547762
Document: brutus caeser mercy worser

(brutus caeser , 2) -> 0.606926656805661
Document: antony brutus caeser calpurnia

(brutus caeser , 1) -> 0.528017734733262
Document: antony brutus caeser cleopatra mercy worser

(brutus caeser , 5) -> 0.34664321269145776
Document: caeser mercy worser

(brutus caeser , 6) -> 0.330292868445042
Document: antony caeser mercy

Returned documents:  [4, 2, 1, 5, 6]

# ----------------

In [52]:
# query data
calc_query_data(query , get_docs)[0]

        tf  wtf       idf     tfidf      norm
brutus   1  1.0  0.522879  0.522879  0.866638
caeser   1  1.0  0.301030  0.301030  0.498938

In [ ]:
search.style.background_gradient(cmap = "Reds" , axis= 0)

In [53]:
## query length
calc_query_data(query , get_docs)[1]

0.6033417278420222

In [54]:
## product
calc_query_data(query , get_docs)[2]

           DOC_4     DOC_2     DOC_1
brutus  0.578775  0.354126  0.329930
caeser  0.191835  0.117375  0.109355
Sum     0.770609  0.471501  0.439285